/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  font-size: 16px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 24px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $black;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    //top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  //background: $btn-blue;
  color: $black !important;

  &:hover,
  &:focus {
    //background-color: darken($btn-blue, 4%);
  } // end hover

  &:active {
    //background-color: darken($btn-blue, 5%);
  } // end active

} // end blue button

.inputright {
  @extend %btn;
  @include input(#111310, #131513);
  background: $highlight;
  border-top-right-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
  width: 120px;
}

.savebutton {
  @extend %btn;
  width: 150px;
  padding: 9px;
  background: $highlight;
  float: right;
}